
@{
    ViewBag.Title = "Error";
}

@section cssTop{
    <link href="/Content/ylstyle.css" rel="stylesheet" type="text/css" />
}
<div class="min_height">
</div>
<div class="error_box">
    <h1>
        <em>4</em><em>0</em><em>4</em>
    </h1>
    <p>
        您访问的页面不存在 o(╯□╰)o
    </p>
</div>
